.item {
    overflow-x: auto;
    white-space: nowrap;
    width: 100%;
}

.time {
    margin-left: 34px;
    margin-right: 29px;
    width: 50px;
}

.timeAll {
    background-color: rgb(134, 134, 134);
    display: flex;
    width: max-content;
    /* margin: 0 auto; */
    align-items: center;
    border-radius: 8px;
}

.test {
    background-color: rgb(134, 134, 134);
    display: flex;
    border-radius: 8px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    width: max-content;
    align-items: center;
}

.dayFont {
    margin-right: 5px;
    margin-left: 5px;

}

.forecastFont {
    margin-left: 5px;

}

.innerContainer {
    width: max-content;
    /* 中身のサイズぴったりに幅を合わせる */
    margin: 0 auto;
    /* 画面の幅に余裕がある場合は中央に配置する */
}