@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');

:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  text-align: center;
}